<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvfwiblbzYE6CTxa_7NA3oL_C93ScOW_w</string>
	<key>GCM_SENDER_ID</key>
	<string>655951866460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derlytz.IMDUMB</string>
	<key>PROJECT_ID</key>
	<string>imdumb-ac78f</string>
	<key>STORAGE_BUCKET</key>
	<string>imdumb-ac78f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655951866460:ios:91d3cea43fa27618d6d499</string>
</dict>
</plist>